In [2]:
import pandas as pd

In [3]:
ser1 = pd.Series([1,2,3,4],index =['usa','germany','ussr','japan'])

In [4]:
ser1

usa        1
germany    2
ussr       3
japan      4
dtype: int64

In [12]:
from numpy.matlib import randn

df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [11]:
df

          W         X         Y         Z
A  0.199284  0.389753 -0.728759  0.063579
B -0.000240  0.136578 -0.800751  0.915428
C -1.294375 -0.585646 -1.030810  0.071989
D  1.883725  0.608827  0.907756  0.635370
E -2.592947 -0.064752  0.332451  0.200971

In [13]:
df['W']

A   -0.038121
B    1.516506
C    0.533175
D    0.689642
E    0.115188
Name: W, dtype: float64

In [15]:
df[['W','Z']]

          W         Z
A -0.038121  0.961280
B  1.516506 -1.030168
C  0.533175  0.179850
D  0.689642  0.598545
E  0.115188 -0.996784

In [33]:
import numpy as np
s = np.random.randint(1,10,size=(5,2))
df1 = pd.DataFrame(s, index='A B C D E'.split(),columns='W X'.split())

In [34]:
df1

   W  X
A  2  9
B  9  5
C  9  1
D  8  2
E  7  1

In [35]:
df['W']

A   -0.038121
B    1.516506
C    0.533175
D    0.689642
E    0.115188
Name: W, dtype: float64

In [37]:
df.groupby(['W']).sum()

                  X         Y         Z
W
-0.038121 -0.396930 -0.067453  0.961280
 0.115188  0.407529  0.601910 -0.996784
 0.533175 -0.107456 -0.638956  0.179850
 0.689642 -0.491762 -1.497493  0.598545
 1.516506 -0.254013 -1.341973 -1.030168

In [38]:
data2 = np.random.randint(11,30,size=(5,2))
pf2 = pd.DataFrame(data2,'5 6 7 8 9'.split(),'W X'.split())

In [39]:
pf3 = pd.concat([df1, pf2])

In [40]:
pf3

    W   X
A   2   9
B   9   5
C   9   1
D   8   2
E   7   1
5  17  20
6  12  26
7  11  23
8  20  28
9  18  29

In [42]:
data4 = np.random.randint(11,30,size=(5,2))
pf4 = pd.DataFrame(data2,'5 6 7 8 9'.split(),'W Y'.split())

In [43]:
pf4

    W   Y
5  19  29
6  21  22
7  19  13
8  18  25
9  27  25

In [46]:
pf5 = pd.merge(df1,pf4,how='inner',on='W')

In [47]:
pf5

Empty DataFrame
Columns: [W, X, Y]
Index: []